[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "mysql-connector-python>=9.1.0",
    "openai>=2.8.1",
    "pyarrow>=22.0.0",
    "streamlit>=1.50.0",
]
